

.App {
  text-align: center;
}


html{
  width:100%;
  height:100%;
  -moz-background-size:cover;
  -webkit-background-size:cover;
  background-size:cover;
  /* background-image:url("../src/hairsalon.jpg"); */
  
}


#emailHelp{
  font-size:.7rem;
}

.labez{
  font-size: 2rem;
}

.btnz{
  font-size: 3rem;
}
.customerORStylist{
  box-shadow:5px 0 15px whitesmoke;
  border:solid 4px whitesmoke;
}

.customerORStylist button{
        background-color:whitesmoke;
        color:#000;
        text-shadow:0 0 10px #000;
      }





@media screen and (max-width:500px){
            
  




}