@import url("https://fonts.googleapis.com/css?family=Dancing+Script|Russo+One&display=swap");


.App {
  text-align: center;
}


html{
  width:100%;
  height:100%;
  -moz-background-size:cover;
  -webkit-background-size:cover;
  background-size:cover;
  /* background-image:url("../src/hairsalon.jpg"); */
  
}





.formStyle{
  display:flex;
  flex-direction:column;
  background-color:whitesmoke;
  width:100%;
  height:100%;
  justify-content:space-between;
  align-items:center;
  font-size:2.5rem;
  color:#000;
  padding:10px 20px;
  grid-gap:40px;
  border-radius:0px 20px 20px 0px;
  font-family: 'Roboto';
}


 .formSignUp{
  display:flex;
  flex-direction:column;
  background-color:whitesmoke;
  width:100%;
  height:100%;
  justify-content:space-between;
  align-items:center;
  font-size:2.5rem;
  color:#000;
  padding:10px 20px;
  grid-gap:40px;
  border-radius:0px 20px 20px 0px;
  font-family: 'Roboto';
overflow-y:scroll;
}


.customerORStylist{
  box-shadow:5px 0 15px whitesmoke;
  border:solid 4px whitesmoke;
}

.customerORStylist button{
        background-color:whitesmoke;
        color:#000;
        text-shadow:0 0 10px #000;
      }





@media screen and (max-width:500px){
            
  


.formStyle{
  width:100%;
  padding:0;

}



.formSignUp{
  width:100%;
  padding:0;

}





label{
  flex:1;
  width:80%;
  display:flex;
  flex-direction:column;
  font-size:1rem;
  font-weight:bolder;
}


input{
  height:100%;
  border-radius:10px;
  font-size:1rem;
  padding:2px 5px;
}


}



label{
  flex:1;
  width:80%;
  display:flex;
  flex-direction:column;
  font-size:2rem;
  font-weight:bolder;
}


input{
  height:70px;
  border-radius:10px;
  background-color:rgba(0,0,0,0);
  font-size:2rem;
  font-weight:bolder;
  letter-spacing:.1rem;
  padding:2px 5px;
}


input:focus{
  border:dashed;
  border-top:none;
}


input[type='number']{
  flex:1;
    width:50px;
    border:solid 1px;
}
